
.oferta-detalle{

  &__productoBox{
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
    border-style: solid;
    border-radius: 5px;
    border-color: $color-grey-light-4;
    padding: 1rem;
    gap: 1rem;

    &__twoColumn{
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      & > * {
        width: 50%;
      }

      & > :not(:last-child) {
        margin-right: 1rem;
      }
    }

    &__imgBox{
      position: relative;
      display: flex;
      width: 50%;
      position: relative;
      min-height: 20rem ;
      max-height: 20rem;
      align-self: center;

      &__img{
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 5px;

      }
    }

    &__desc{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 50%;
      max-height: 25rem;
      padding: 1rem;
      border-left-style: solid;
      border-left-color: $color-grey-light-3;

      &__text {
        color: $color-grey-dark-3;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }

  &__productoProgress{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-color: $color-grey-light-4;
    padding: 1rem;

    &__barbox{
      margin: 0rem 1rem;
      position: relative;
      width: 35%;
    }
  }

  &__etiqueta {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    background-color: $color-tag-green;
    color: $color-white;
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
  }
  
  &__etiqueta2{
    position: absolute;
    top: 1.2rem;
    right: 9rem;
    background-color: $color-tag-blue;
    color: $color-white;
    border-radius: 5px;
    padding: 0.3rem 1.8rem;
  }



  &__btnBox{
    padding: 2rem 4rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }
  &__btnBoxResp{
    padding: 2rem 4rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media (max-width: 708px) {
      

        flex-direction: column; // Stack buttons vertically
        align-items: center;    // Center align the buttons vertically
      
    }
    
  }

}

