.admContainer {
  margin-top: 5rem;
}

.adm-main-container__izqCont {
  position: fixed;
  //top: 2rem;
  left: 1rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  z-index: 900;
}

.admMainContainer {
  position: absolute;
  background-color: $color-white;
  border-radius: 5px;
  padding: 2rem;
  width: 77%;
  left: 22%;
  //height: 40rem;
}

.admNavegacionContainer {
  padding: 1rem;

  &--panelBotones {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}

.botonPanelAdm {
  &--box {
    text-decoration: none;
    color: $color-grey-dark-3;
    border-style: solid;
    border-width: 1px;
    border-color: $color-grey-light-1;
    box-shadow: 2px 2px $color-grey-light-2;
    border-radius: 5px;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--icon {
      position: relative;
      display: flex;
      justify-content: center;
      font-size: 3rem;
    }

  }

  &--box:hover {
    color: $color-tertiary;
    cursor: pointer;
    transform: translate(1px, 1px);
  }
}


.imgAdmPanel{

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 50rem;
  padding: 10rem;


  &--box {
    position: relative;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 5rem;
  }

  &--img {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

}

.admPrincipalContainer {
  margin-top: 1rem;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: $color-grey-light-3;
  padding: 3rem;
}