.buscador{
  position: relative;
  width: 90%;
  height: 90%;
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  @media (max-width: 768px) {
    width: 95%;
  }
  &__errorBusqueda {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;

  }

  &__form{
    width: 100%;
    position: relative;
    display: flex;
    height: 100%;
  }

  &__input{
    height: 100%;
    border: none;
    width: 90%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 1rem;
    @media (max-width: 768px) {
      font-size: $default-font-size-sm;
    }
  }

  &__searchBtn {
    background-color: $color-blue;
    width: 10%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    @media (max-width: 768px) {
      width: 23%;
    }
    &:hover {
      cursor: pointer;
    }
  }
  
  /*@media (max-width: 768px) {
    height: auto; // Ajusta la altura según el contenido
    padding: 0.3rem; // Cambia el relleno
    &__input {
      font-size: xx-small;
      justify-content: center;
      margin-top: 0.2rem;
      width: 70%; // Ocupa el 100% del ancho disponible
    }
    &__searchBtn {
      width: 30%; // Ocupa el 100% del ancho disponible
    }
  }*/

}

.icon-white{
  color: $color-white;

}

.icon-grey {
  color: $color-grey-dark;
}

.icon-purple {
  color: $color-primary;
}

.icon--bg{
  font-size: 2.8rem;
}

.icon--md{
  font-size: 2rem;
}

.icon--md--2{
  font-size: 2.6rem;
}

.icon--sm{
  font-size: 1.5rem;
}

.icon--super-big {
  font-size: 10rem;
}