.btn {
  &,
  &:link, 
  &:visited {
      text-decoration: none;
      padding: 1.5rem 2rem;
      min-width: 15rem;
      border-radius: 1rem;
      transition: all .2s;
      position: relative;
      font-size: $default-font-size;
      // Change for the <button> element
      border: none;
      cursor: pointer;
  }

  &:hover {

    &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
  }

  &:active,
  &:focus {
    background-color: $color-grey-dark-2;
  }

  &--blue {
    background-color: $color-blue;
    color: $color-white;

    &::after {
        background-color: $color-blue;
    
    }
  }

  &--grey {
    background-color: $color-secondary-light;
    color: $color-white;

    &::after {
        background-color: $color-secondary-light;
    
    }
  }

  &--lightPurple {
    background-color: $color-primary-light;
    color: $color-white;

    &::after {
      background-color: $color-primary-light;
      
    }
  }

  &--green {
    background-color: $color-green;
    color: $color-white;

    &::after {
      background-color: $color-green;
      
    }
  }

  &--red {
    background-color: $color-red;
    color: $color-white;

    &::after {
      background-color: $color-red;
      
    }
  }

  &--purple {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
      
    }
  }
}
.btn-signup{
  &,
  &:link, 
  &:visited {
      text-decoration: none;
      padding: 1.5rem 2rem;
      min-width: 15rem;
      min-height: 2rem;
      border-radius: 1rem;
      transition: all .2s;
      position: relative;
      font-size: $default-font-size;

      // Change for the <button> element
      border: none;
      cursor: pointer;
  }

  &:hover {

    &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
  }

  &:active,
  &:focus {
    background-color: $color-grey-dark-2;
  }

  &--blue {
    background-color: $color-blue;
    color: $color-white;

    &::after {
        background-color: $color-blue;
    
    }
  }

  &--grey {
    background-color: $color-secondary-light;
    color: $color-white;

    &::after {
        background-color: $color-secondary-light;
    
    }
  }

  &--green {
    background-color: $color-green;
    color: $color-white;

    &::after {
      background-color: $color-green;
      
    }
  }

  &--red {
    background-color: $color-red;
    color: $color-white;

    &::after {
      background-color: $color-red;
      
    }
  }

  &--purple {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
      
    }
  }
}

.btn-text {
  &:link,
  &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all .2s;
  }

  &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
      transform: translateY(0);
  }
}