//paleta de colores
$color-primary: #4A3797;
$color-primary-light: #6e5eaf;
$color-primary-dark: #2a1a6a;

$color-secondary: #404040;
$color-secondary-light: #8d8d8d;
$color-secondary-dark: #1f1f1f;

$color-tertiary: #006C83;
$color-tertiary-light: #0089a8;
$color-tertiary-dark: #003b48;

$color-blue:#49A3DB;
$color-blue-light:#83c8f4;

$color-green: #03D5AE;
$color-green-light:#37ffda;
$color-green-dark: #08a88a;

$color-purple:#644F97;

$color-red:#FC327A;
$color-red-light:#ff82ae;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #e9e9e9;
$color-grey-light-4: #F2F2F2;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-yellow: #fff200;

//colors de etiquetas
$color-tag-green: #03D926;
$color-tag-blue: $color-blue;
$color-tag-red: #ffb3b3;
$color-tag-purple: #acacff;
$color-tag-lightblue: #a5ccff;
$color-tag-grey: #8b9096;

// fuente
$default-font-size: 1.6rem;
$default-font-size-mid: 2rem;
$default-font-size-sm: 1.3rem;
//$default-font-size-mid-2: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$color-warning: #ffb700;
$color-error: #e10000;